h1{
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: cadetblue;
}
p{
    padding: 20px;
    margin: 20px;
}
.error{
    background-color: red;
    color: white;
}
.success{
    background-color: green;
    color: white
}